* {
    justify-content: center;
    margin: 0;
    padding: 0;
}

.reviewSection {
    padding: 5%;
    font-size:larger;
    border-radius: 10px;
    text-align: center;
    background-color: #000000a1;
}

input {
    height: 100%;
    width: 100%;
}

.reviewForm {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.reviewForm label {
    align-self: flex-start;
    font-weight: bold;
    font-size: x-large;
    padding-top: 10px;
    padding-bottom: 0px;
    color:#ffffff;
}

.formColumn {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
}

.reviewForm input, .reviewForm select, .reviewForm textarea {
    padding: 10px;
    font-size: larger;
    width: 100%;
    background-color:#ffffff;
    border: none;
}

#review {
    min-width: 900px;
}
#carModel {
    min-width: 300px;
}
#email {
    max-height:80px;
    min-width: 300px;
}
#name {
   min-width: 300px; 
}

.reviewForm textarea {
    resize: vertical;
    width:100%;
}

.reviewForm button {
    padding: 12px 20px;
    font-size: larger;
    background-color: #55f1ff;
    color: #fff;
    border: none;
    cursor: pointer;
    align-self: flex-start;
    margin-top: 20px;
}

h1, p {
    color:#ffffff;
    font-weight: bolder;
}

form button:hover {
    color:#ffffff;
    background-color: #333;
    transition: 0.3s;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 900px;
}